body {
	display: block;
    font: 100% "Work Sans", Helvetica, sans-serif;
    color: #666666;
    background-color: #f4f4f4;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    line-height: 2;
}

.greeting {
  padding-top: 50px;
  padding-bottom: 25px;
}

.greeting h2 {
	line-height: 1.4;
    font-size: 30pt;
    font-weight: 300;
}

.greeting span:hover {
  color: #c80000;
  transition: color 1s; /* For modern browsers */
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
}

.greeting span {
    color: #59BD85;
    font-weight: 500;
}

.oldportfolio {
    text-align: center;
}

.oldportfolio h3 {
    font-size: 12pt;
    font-weight: bold;
    padding-bottom: 10px;
}

.preview {
	max-height: 100%;
	max-width: 25%;
	transition: all .2s ease-in-out;
	border: 5px solid #59BD85;
	border-radius: 25px;
}

.preview:hover {
	transform: scale(1.1);
}

hr.solid {
  border-top: 1px solid #c4c4c4;
  margin-top: 50px;
  margin-bottom: 50px;
}

.heading {
	text-align: center;
	color: #59BD85;
	font-size: 30pt;
    /*font-weight: 300;*/
}

.heading:hover {
  color: #c80000;
  transition: color 1s; /* For modern browsers */
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
}

.subtitle {
	text-align: center;
	color: #777777;
	margin-bottom: 25px;
}

/*************** Portfolio ***************/
.center-container {
	margin: auto;
	width: 75%;
}

.image{
  position: relative;
}

.image img{
  margin: 0px;
  height: 100px;
  border-radius: 15%;
  position: relative;
  animation: img_float ease 2s infinite;
  top: 0px;
  transition: border-radius ease 0.3s
}

.no-outline{
  border:none
}

.image-overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 99%;
  background-color: rgba(231, 76, 60,.6);
  text-align: center;
  opacity:0;
  filter: alpha(opacity=0);
  -webkit-transition: all 450ms ease-out 0s;
  -moz-transition: all 450ms ease-out 0s;
  -o-transition: all 450ms ease-out 0s;
  transition: all 450ms ease-out 0s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.image:hover .image-overlay{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.image-overlay .image-link{
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}

@keyframes img_float {
  50% { top: 15px; }
  100% { top: 0px; }
}

.floating-img-shadow{
  position: relative;
  height:16px;
  background: #999;
  opacity:0.2;
  border-radius:100%;
  margin:0px 22% 0px 22%;/*margin:0px 0% 0px 0%;*/
  top:15px;
  animation: shadow_react ease 2s infinite;
}

@keyframes shadow_react {
  50% { margin:0px 28% 0px 28%; opacity:0.5; }/*50% { margin:0px 10% 0px 10%; opacity:0.4; }*/
  100% { margin:0px 22% 0px 22%; opacity:0.2;  }/*100% { margin:0px 0% 0px 0%; opacity:0.1;  }*/
}

.hover-img{
  transition: filter 0.3s ease-out;
}

.hover-img:hover{
  filter: brightness(75%);
}

.project-div {
  /*background-color: #4AB478;*/
  text-align: center;
  padding: 5px;
  /*transition: transform .2s;*/
  color: #444;
}

.project-div:hover {
  /*transform: scale(1.1);*/
  color: #2E8B57;
}
/*.image {height: 100px;background-color: white;margin-bottom: 10px;font-family: Sofia;text-align: center;padding-top:30px;font-size: 20px;font-weight: bold;}*/

.data { 
  font-size: 150%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 0.75em;
}

td {
  padding: 20px;
  width:250px;
  height: 200px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  display: grid;
}

a {
  text-decoration: none;
  color: #444;
  -webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  -moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  -ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  -o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  border: none;
  color: #59BD85;
}/*color: #2E8B57; }*/

